**/node_modules
/back_end/public/hot
/back_end/public/storage
/back_end/storage/*.key
/back_end/vendor
**/.env
/back_end.env.backup
/back_end/.phpunit.result.cache
/back_end/Homestead.json
/back_end/Homestead.yaml
**/npm-debug.log
**/yarn-error.log
