**/node_modules
/wp_students/public/hot
/wp_students/public/storage
/wp_students/storage/*.key
/wp_students/vendor
**/.env
/wp_students.env.backup
/wp_students/.phpunit.result.cache
/wp_students/Homestead.json
/wp_students/Homestead.yaml
**/npm-debug.log
**/yarn-error.log
