@import 'imports';

body {
    padding-top: 55px;
}

#root {
    height: 100vh;
}

.header {
    font-family: 'Alfa Slab One', cursive;
    color: $gold;
    background-color: $green;
    text-shadow: 3px 3px $black;
    letter-spacing: 3px;
}